.cover__input {
    width: 80%;
    border: none;
    margin-left: 30px;
}

.cover__input::placeholder {
    color: var(--placeholder);
    font-family: var(--standart-font),serif;
    font-size: 16px;
    font-style: normal;
    font-weight: var(--font-normal);
    line-height: normal;
    letter-spacing: 0.16px;
}

.cover__input:focus {
    outline: none;
}
