.cover__label {
    display: flex;
    align-items: center;
    flex-grow: 1;
    cursor: text;
    padding-left: 30px;
}

@media (width <= 475px) {
    .cover__label {
        padding-left: 5px;
    }
}