.header__button {
    width: 108px;
    min-height: 42px;
    border-radius: 20px;
    background: var(--button-color);
    border: none;
    cursor: pointer;

}

.header__button:focus {
    outline: none;
}

.header__button:focus-visible {
    outline: 1px solid var(--outline-color);
}

.header__button:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

@media (width < 768px) {
    .header__button {
        margin: auto;
        width: 200px;
    }
}