.cover__button_text {
    color: var(--button-text-color);
    font-family: var(--standart-font), serif;
    font-style: normal;
    font-weight: var(--font-medium);
    line-height: normal;
    font-size: 15px;
}