.cover__button-submit {
    border-radius: 50px;
    border: none;
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url("../../../svg/search.svg") no-repeat center var(--button-color);
}

.cover__button-submit:focus {
    outline: none;
}

.cover__button-submit:focus-visible {
    outline: 1px solid var(--outline-color);
}

.cover__button-submit:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease;
}