.header__dropdown {
    position: relative;
    display: none;
}

.header__dropdown_content .header__dropdown_link {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #4A4A4A;
    font-family: var(--standart-font), serif;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    font-weight: var(--font-normal);
}

.header__dropdown_content .header__dropdown_link:hover {
    background-color: #f1f1f1
}

.header__dropdown:hover .header__dropdown_content {
    display: block;
}

.header__dropdown:hover .header__dropdown_button {
    background-color: var(--button-color);
}

.header__dropdown_link:focus {
    outline: none;
}

.header__dropdown_link:focus-visible {
    outline: 1px solid var(--outline-color);
}

@media (width < 768px) {
    .header__dropdown {
        display: inline-block;
    }
}