.relative{
    position: relative;
    z-index: 2;
}
.relative:nth-of-type(2){
    position: relative;
    right: 15px;
    z-index: 1;
}
.relative:nth-of-type(3){
    position: relative;
    right: 29px;
    z-index: 0;
}